<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            By train
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <p>The nearest railway station is Cambridge (approx. 20 mins walk), with taxis and frequent buses to the city centre. The U bus from the station stops outside the Museum every day. (Turn left as you exit the station, and cross the road to the bus stops on the far side.)</p>
<p>For more info check the <a href="http://www.nationalrail.co.uk/default.aspx">National Rail Enquiries</a>  </p>
<p>U bus timetable available from <a href="https://www.go-whippet.co.uk/routes-timetables/busway-routes/">Go Whippet website</a></p>        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            By bus
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <p>The U bus from Eddington to Addenbrooke's Hospital via Cambridge Station stops outside the Museum every day. The bus from Trumpington Park-and-Ride also stops outside the Museum.</p>
<p>Timetable available from <a href="https://www.go-whippet.co.uk/routes-timetables/busway-routes/">Go Whippet website</a></p>        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            By car
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <p>The centre of Cambridge and the area around the Museum are subject to vehicle restrictions, and it is advisable not to travel by car into the centre where possible.</p>
<p>There is no visitor parking; limited Pay and Display and disabled badge-holder parking is available on Trumpington Street. The nearest car parks are: Grand Arcade, off Downing Street, or Queen Anne, Gonville Place. </p>
<p>For Park &amp; Ride information check the <a href="http://www.cambridgeshire.gov.uk/info/20149/park_and_ride">Park &amp; Ride page</a> of the Cambridgeshire County Council </p>
<p>For more parking options, see also further information on parking provided by <a href="https://www.cambridge.gov.uk/car-parks-map">Cambridge City Council</a></p>        </div>
      </div>
    </div>
  </div>
