<div class="col-md-4 mb-3">
  <div class="card  h-100 ">
    <div class="embed-responsive embed-responsive-4by3">
      <a href="https://beta.fitz.ms/about-us/departments/digital-and-it"><img class="img-fluid embed-responsive-item" src="https://content.fitz.ms/fitz-website/assets/rodinTorsoJeune.jpg?key=directus-large-crop" alt="A 3D scan of a Rodin masterpiece" height="600" width="800" loading="lazy"></a>
    </div>
    <div class="card-body">
      <div class="contents-label mb-3">
        <h3>
          <a href="https://beta.fitz.ms/about-us/departments/digital-and-it">Digital and IT</a>
        </h3>
      </div>
    </div>
  </div>

</div>
