<div class="col-md-4 mb-3">
  <div class="card h-100">
    <div class="embed-responsive embed-responsive-1by1">
      <a href="https://beta.fitz.ms/research/staff-profiles/edward-cheese"><img class="img-fluid embed-responsive-item" src="https://content.fitz.ms/fitz-website/assets/134346_Edward-Cheese---Fitzwilliam-museum.jpg?key=directus-medium-crop" alt="Profile image for Edward Cheese" width="800" height="600" loading="lazy"></a>
    </div>
    <div class="card-body">
      <div class="contents-label mb-3">
        <h3>
          <a href="https://beta.fitz.ms/research/staff-profiles/edward-cheese">Edward Cheese</a>
        </h3>
      </div>
    </div>
  </div>
</div>
