<div class="col-md-4 mb-3">
  <div class="card h-100">
    <div class="results_image">
      <a href="https://collection.beta.fitz.ms/id/object/183670"><img class="results_image__thumbnail"
        src="https://api.fitz.ms/mediaLib/msspb/msspb16/preview_MS_20Marlay_2010_28f5r_29.jpg"
        loading="lazy" alt="An image of Missal"></a>
    </div>
    <div class="card-body ">

      <div class="contents-label mb-3">
        <h3>
          <a href="https://collection.beta.fitz.ms/id/object/183670">Missal</a>
        </h3>
        <p>
          Holding department: Manuscripts and Printed Books<br>
        </p>
      </div>
    </div>
  </div>
</div>
