<div class="row mb-2">
  <div id="carouselThemes" class="carousel slide sliders" data-ride="carousel" data-interval="false">
    <div class="carousel-inner row w-100 mx-auto">

      <div class="carousel-item  active">
        <div class="col-md-4">
          <div class="card h-100">
            <a href="/objects-and-artworks/highlights/themes/religious-art/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/AncientEgyptians_0.jpg?key=directus-large-crop" alt="Ancientegyptians 0" loading="lazy" width="800" height="600"></a>
            <div class="card-body h-100">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/religious-art">Religious Art</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/domestic-art/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/CupidPsycheLarge.jpg?key=directus-large-crop" alt="Cupidpsychelarge" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/domestic-art">Domestic Art</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/perceptions-of-people/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/103_LRG.jpg?key=directus-large-crop" alt="Self-portrait, with the Colosseum, Rome" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/perceptions-of-people">Perceptions of People</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/perceptions-of-places/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/M.Add.3_LRG.jpg?key=directus-large-crop" alt="M.add.3 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/perceptions-of-places">Perceptions of Places</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/power-and-status/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/E.2-1946_LRG.jpg?key=directus-large-crop" alt="E.2 1946 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/power-and-status">Power and Status</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/domestic-art/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/CupidPsycheLarge.jpg?key=directus-large-crop" alt="Cupidpsychelarge" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/domestic-art">Domestic Art</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/perceptions-of-people/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/103_LRG.jpg?key=directus-large-crop" alt="Self-portrait, with the Colosseum, Rome" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/perceptions-of-people">Perceptions of People</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/perceptions-of-places/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/M.Add.3_LRG.jpg?key=directus-large-crop" alt="M.add.3 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/perceptions-of-places">Perceptions of Places</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/power-and-status/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/E.2-1946_LRG.jpg?key=directus-large-crop" alt="E.2 1946 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/power-and-status">Power and Status</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/love-and-sex/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/914-LRG.jpg?key=directus-large-crop" alt="Tarquin and Lucretia, painted by Titian" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/love-and-sex">Love and Sex</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/perceptions-of-people/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/103_LRG.jpg?key=directus-large-crop" alt="Self-portrait, with the Colosseum, Rome" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/perceptions-of-people">Perceptions of People</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/perceptions-of-places/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/M.Add.3_LRG.jpg?key=directus-large-crop" alt="M.add.3 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/perceptions-of-places">Perceptions of Places</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/power-and-status/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/E.2-1946_LRG.jpg?key=directus-large-crop" alt="E.2 1946 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/power-and-status">Power and Status</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/love-and-sex/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/914-LRG.jpg?key=directus-large-crop" alt="Tarquin and Lucretia, painted by Titian" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/love-and-sex">Love and Sex</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/narrative-art/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/PD.108-1975_LRG.jpg?key=directus-large-crop" alt="Pd.108 1975 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/narrative-art">Narrative Art</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/perceptions-of-places/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/M.Add.3_LRG.jpg?key=directus-large-crop" alt="M.add.3 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/perceptions-of-places">Perceptions of Places</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/power-and-status/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/E.2-1946_LRG.jpg?key=directus-large-crop" alt="E.2 1946 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/power-and-status">Power and Status</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/love-and-sex/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/914-LRG.jpg?key=directus-large-crop" alt="Tarquin and Lucretia, painted by Titian" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/love-and-sex">Love and Sex</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/narrative-art/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/PD.108-1975_LRG.jpg?key=directus-large-crop" alt="Pd.108 1975 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/narrative-art">Narrative Art</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/death/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/GR.1-1835_LRG.jpg?key=directus-large-crop" alt="Gr.1 1835 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/death">Death</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/power-and-status/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/E.2-1946_LRG.jpg?key=directus-large-crop" alt="E.2 1946 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/power-and-status">Power and Status</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/love-and-sex/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/914-LRG.jpg?key=directus-large-crop" alt="Tarquin and Lucretia, painted by Titian" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/love-and-sex">Love and Sex</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/narrative-art/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/PD.108-1975_LRG.jpg?key=directus-large-crop" alt="Pd.108 1975 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/narrative-art">Narrative Art</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/death/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/GR.1-1835_LRG.jpg?key=directus-large-crop" alt="Gr.1 1835 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/death">Death</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <a href="/objects-and-artworks/highlights/themes/religious-art/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/AncientEgyptians_0.jpg?key=directus-large-crop" alt="Ancientegyptians 0" loading="lazy" width="800" height="600"></a>
            <div class="card-body h-100">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/religious-art">Religious Art</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/love-and-sex/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/914-LRG.jpg?key=directus-large-crop" alt="Tarquin and Lucretia, painted by Titian" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/love-and-sex">Love and Sex</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/narrative-art/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/PD.108-1975_LRG.jpg?key=directus-large-crop" alt="Pd.108 1975 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/narrative-art">Narrative Art</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/death/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/GR.1-1835_LRG.jpg?key=directus-large-crop" alt="Gr.1 1835 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/death">Death</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <a href="/objects-and-artworks/highlights/themes/religious-art/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/AncientEgyptians_0.jpg?key=directus-large-crop" alt="Ancientegyptians 0" loading="lazy" width="800" height="600"></a>
            <div class="card-body h-100">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/religious-art">Religious Art</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/domestic-art/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/CupidPsycheLarge.jpg?key=directus-large-crop" alt="Cupidpsychelarge" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/domestic-art">Domestic Art</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/narrative-art/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/PD.108-1975_LRG.jpg?key=directus-large-crop" alt="Pd.108 1975 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/narrative-art">Narrative Art</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/death/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/GR.1-1835_LRG.jpg?key=directus-large-crop" alt="Gr.1 1835 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/death">Death</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <a href="/objects-and-artworks/highlights/themes/religious-art/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/AncientEgyptians_0.jpg?key=directus-large-crop" alt="Ancientegyptians 0" loading="lazy" width="800" height="600"></a>
            <div class="card-body h-100">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/religious-art">Religious Art</a>
              </h3>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/domestic-art/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/CupidPsycheLarge.jpg?key=directus-large-crop" alt="Cupidpsychelarge" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/domestic-art">Domestic Art</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/perceptions-of-people/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/103_LRG.jpg?key=directus-large-crop" alt="Self-portrait, with the Colosseum, Rome" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/perceptions-of-people">Perceptions of People</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/death/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/GR.1-1835_LRG.jpg?key=directus-large-crop" alt="Gr.1 1835 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/death">Death</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <a href="/objects-and-artworks/highlights/themes/religious-art/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/AncientEgyptians_0.jpg?key=directus-large-crop" alt="Ancientegyptians 0" loading="lazy" width="800" height="600"></a>
            <div class="card-body h-100">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/religious-art">Religious Art</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/domestic-art/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/CupidPsycheLarge.jpg?key=directus-large-crop" alt="Cupidpsychelarge" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/domestic-art">Domestic Art</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/perceptions-of-people/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/103_LRG.jpg?key=directus-large-crop" alt="Self-portrait, with the Colosseum, Rome" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/perceptions-of-people">Perceptions of People</a>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <a href="/objects-and-artworks/highlights/themes/perceptions-of-places/"><img class="img-fluid" src="https://content.fitz.ms/fitz-website/assets/M.Add.3_LRG.jpg?key=directus-large-crop" alt="M.add.3 Lrg" loading="lazy" width="800" height="600"></a>
            <div class="card-body">
              <h3>
                <a href="/objects-and-artworks/highlights/themes/perceptions-of-places">Perceptions of Places</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselThemes" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselThemes" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
