<div class="col-md-4 mb-3">
  <div class="card h-100">
    <div class="results_image">
      <a href="https://collection.beta.fitz.ms/id/object/251228"><img class="results_image__thumbnail"
        src="https://content.fitz.ms/fitz-website/assets/no-image-available.png?key=directus-large-crop" alt="A stand in image for Theodosius I (379-395), in the name of Flaccilla, Æ, Antioch, 383-386/8, rev. Empress standing facing, officina ? (RIC IX, 291.62), 3.75g}"></a>
    </div>
    <div class="card-body ">

      <div class="contents-label mb-3">
        <h3>
          <a href="https://collection.beta.fitz.ms/id/object/251228">Theodosius
            I (379-395), in the name of Flaccilla, Æ, Antioch, 383-386/8,
            rev. Empress standing facing, officina ? (RIC IX, 291.62), 3.75g</a>
        </h3>
        <p>
          Holding department: Coins and Medals<br>
        </p>
      </div>
    </div>
  </div>
</div>
