<div class="col-md-4 mb-3">
  <div class="card h-100">
    <div class="embed-responsive embed-responsive-1by1">
      <a href="https://cambridgecollections.myshopify.com/product/the-sleeping-dragon-plum-tree-at-kamedo-christmas-card-pack"><img src="https://cdn.shopify.com/s/files/1/0287/3507/8448/products/CC187.jpg?v=1593078841" class="img-fluid embed-responsive-item" alt="Fitzwilliam Museum logo" loading="lazy"></a>
    </div>
    <div class="card-body ">
      <h3>
        <a href="https://cambridgecollections.myshopify.com/product/the-sleeping-dragon-plum-tree-at-kamedo-christmas-card-pack">The Sleeping Dragon Plum Tree at Kamedo - Christmas card pack</a>
      </h3>
      <p>Pack of ten cards with envelopes.
        Card size: 14 cm x 14 cm
        Greetings inside: Best wishes for Christmas and the New Year
      </p>...
        <p>
          <span class="badge badge-wine p-2 shorten-words text-truncate">Content to expect: A shop product</span>
        </p>
      </div>
    </div>
  </div>
