<div class="col-md-4 mb-3">
  <div class="card h-100">
    <div class="embed-responsive embed-responsive-1by1">
      <a href="https://fitzwilliam-prints.myshopify.com/products/pod443892"><img src="https://cdn.shopify.com/s/files/1/0379/1808/1164/products/si-443892.jpg_maxdim-500_resize-yes_94aaa552-2b23-43fe-b89f-478ae8a6466a.jpg?v=1588352726" class="img-fluid embed-responsive-item" alt="Fitzwilliam Museum logo" loading="lazy"></a>
    </div>
    <div class="card-body ">
      <h3>
        <a href="https://fitzwilliam-prints.myshopify.com/products/pod443892">Initial from a Choir Psalter, with St Francis of Assisi</a>
      </h3>
      <p>
        gold leaf and parchment, 23.4cm x 19.2cm, circa 1444-1450. Italy, Lombardy.
      </p>...

      <p>
        <span class="badge badge-wine p-2 shorten-words text-truncate">
          Content to expect: A fine art print to own
        </span>
      </p>
    </div>
  </div>
</div>
