<div class="col-md-12 mb-3">
  <div class="card card-body h-100">
    <div class="container h-100">
      <div class="contents-label mb-3">
        <ul id="floor-plans">
          <li><a href="https://fitz-cms-images.s3.eu-west-2.amazonaws.com/arabic_floor_plan.pdf">عربى</a></li>
          <li><a href="https://fitz-cms-images.s3.eu-west-2.amazonaws.com/chinese_floor_plan.pdf">中文</a></li>
          <li><a href="https://fitz-cms-images.s3.eu-west-2.amazonaws.com/english_floor_plan.pdf">English</a></li>
          <li><a href="https://fitz-cms-images.s3.eu-west-2.amazonaws.com/french.pdf">Français</a></li>
          <li><a href="https://fitz-cms-images.s3.eu-west-2.amazonaws.com/german.pdf">Deutsche</a></li>
          <li><a href="https://fitz-cms-images.s3.eu-west-2.amazonaws.com/hindi.pdf">हिन्दी</a></li>
          <li><a href="https://fitz-cms-images.s3.eu-west-2.amazonaws.com/italian.pdf">Italiano</a></li>
          <li><a href="https://fitz-cms-images.s3.eu-west-2.amazonaws.com/japanese.pdf">日本語</a></li>
          <li><a href="https://fitz-cms-images.s3.eu-west-2.amazonaws.com/polish.pdf">Polskie</a></li>
          <li><a href="https://fitz-cms-images.s3.eu-west-2.amazonaws.com/portugese.pdf">Português</a></li>
          <li><a href="https://fitz-cms-images.s3.eu-west-2.amazonaws.com/russian.pdf">русский</a></li>
          <li><a href="https://fitz-cms-images.s3.eu-west-2.amazonaws.com/spanish.pdf">Español</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
